---
import Post from "./elements/Post.astro";
import Navbar from "./Navbar.astro";

---
<div class="into">
  <img src="../img/me.jpg" alt="img_me">
  <h1>BblogMe</h1>
  <p>Notas, ideas y curiosidades</p>
  <Navbar />
  <div class="posts">
    <div class="detail">
      <a href=''>See all posts</a>
    </div>
    <Post name='post1' info='info de post 1'/>
    <Post name='post2' info='info de post 2'/>
    <Post name='post3' info='info de post 3'/>
  </div>
</div>
<style>
  .into{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }
  img{
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    background: whitesmoke;
    /*border: 4px solid #fca5a5;*/
  }

  h1{
    margin: 0;
  }
  p{
    font-size: 18px;
  }

  .posts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .detail{
    margin-top: 10px;
  }

  a{
    font-size: 17px;
    color: white;
  } 
  a:hover{
    color: #f87171;
  }

</style>
