---

---
<nav>
  <h1>Home</h1>
  <h1>Categorias</h1>
  <h1>Snippets</h1>
  <h1>About me</h1>
</nav>
<style>
  nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    height: 30px;
  }
</style>
