---
import CardSnippet from "../../components/elements/CardSnippet.astro"
import LayoutSecond from "../../layouts/LayoutSecond.astro"


const title = 'Code Snippets'
---
<LayoutSecond title={title}>
    <article>
      <h1>Code Snippets</h1>
      <p>Esta son algunos de mis fragmentos de codigo me fueron utiles y espero que sean de ayude para ti tambien</p>
    </article>
    <div class="card">
      <CardSnippet title='testeo' info='testeo en info' />
      <CardSnippet title='testeo_1' info='testeo en info_1' />
       <CardSnippet title='testeo' info='testeo en info' />
    </div>
</LayoutSecond>

<style>
  .card{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
</style>

