---
import Navbar from "../../components/Navbar.astro"
import Layout from "../../layouts/Layout.astro"


const title = 'Code Snippets'
---

<Layout title={title}>
  <main>
    <Navbar/>
    <h1>Code Snippets</h1>
    <p>Esta son algunos de mis fragmentos de codigo me fueron utiles y espero que sean de ayude para ti tambien</p>
  </main>
</Layout>

