---
import CardSnippet from "../../components/elements/CardSnippet.astro"
import LayoutSecond from "../../layouts/LayoutSecond.astro"

import snippets from '../../data/snippets.json'

const title = 'Code Snippets'
---
<LayoutSecond title={title}>
    <article>
      <h1>Code Snippets</h1>
      <p>Esta son algunos de mis fragmentos de codigo me fueron utiles y espero que sean de ayude para ti tambien</p>

      <div class="card">
        {snippets.map((s) =>(
          <CardSnippet
            title={s.title}
            info={s.info}
            href={s.href ?? '#'}
            src={s.src ?? '#'}
          />
        ))}
      </div>

    </article>
</LayoutSecond>

<style>

  article{
    /*border: 1px solid white;*/
  }
  .card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
</style>

