---
interface Props {
  title:string
  info:string 
  href:string 
}
const{title, info, href}=Astro.props
---

<a href={href} class="card">
  <h2>{title}</h2>
  <p>{info}</p>
</a>
<style>
  .card{
    border-radius: 12px;
    border: 2px solid #525252;
    padding: 12px 15px;
    /*width: 355px;*/
    height: auto;
    color: white;
    text-decoration: none; 
  }
  
  h2, p{
    margin: 0;
  }

  h2{
    font-size: 18px;
    font-weight: 500;
  }

  p{
    font-size: 13px;
  }
  
</style>
